.contrib-name {
  display: inline-block;
  vertical-align: middle;
}

.contrib-link-icon {
  text-align: center;
  width: 18px;
}

.small-text {
  font-size: 0.8em;
  opacity: 0.85;
}

.repo-descr {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100%
                  - 50px - .5em /*avatar-small*/
                  - 2em);       /*dropdown icon*/
}

