.icon {
  vertical-align: middle !important;
}

.title > span {
  display: inline-block;
  vertical-align: top;
}

.repo-descr {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100%
                  - 50px - .5em /*avatar-small*/
                  - 2em);       /*dropdown icon*/
}

.emoji {
  height: 1.3em;
  width: auto;
}

.add-a-tech,
.add-a-tech:hover {
  background-color: #eee;
  text-decoration: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  text-align: center;
  position: relative;
  top: 3px;
}

.add-a-tech-plus {
  position: relative;
  top: -3px;
}

.contrib-details {
  padding-right: 1em;
  font-size: 90%;
  color: #586069;
}

.contrib-code-icon {
  font-size: 150%;
  width: 30px;
  text-align: center;
}
