.icon-crown {
  background-image: url('./crown.svg');
}
.icon-contrib-bronze {
  background-image: url('./medal_bronze.svg');
}
.icon-contrib-silver {
  background-image: url('./medal_silver.svg');
}
.icon-contrib-gold {
  background-image: url('./medal_gold.svg');
}


.contrib-type-icon, .repo-scale-icon {
  width: 13px;
  height: 13px;
  background-size: contain;
}
.contrib-type-icon {
  margin: 4px 0;
}
.repo-scale-icon {
  margin-top: 3px;
  margin-bottom: 5px;
}


.repo-scale-icon {
  background-image: url('./biceps.png');
}

.repo-scale-icon-micro {
  opacity: 0.2;
  filter: grayscale(100%);
}
.repo-scale-icon-small {
  opacity: 0.6;
  filter: grayscale(10%);
}
.repo-scale-icon-medium {
  opacity: 0.8;
  filter: grayscale(5%);
}

/*
.earned-stars-text,
.contrib-range-title
{
  position: relative;
  top: -5px;
}
*/
.earned-stars-text {
  font-size: 1em;
}
.contrib-range-title {
  font-size: 1em;
  color: #66f;
}

.earned-stars-text-color {
  /*
  color: #119f11;
  */
  color: #0c0;
}

.big-badge {
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding-left: 8px;
  padding-right: 7px;
  margin-right: 10px;
}
.badge-desc {
  font-size: .8em;
  margin-left: 5px;
}
.big-badge {
  position: relative;
}
.badge-border {
  position: absolute;
  width: 100%;
  height: 85%;
  top: 0px;
  left: 0;
  box-sizing: content-box;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}
