.icon-crown {
  background-image: url('./crown.svg');
}
.icon-contrib-bronze {
  background-image: url('./medal_bronze.svg');
}
.icon-contrib-silver {
  background-image: url('./medal_silver.svg');
}
.icon-contrib-gold {
  background-image: url('./medal_gold.svg');
}


.contrib-type-icon, .repo-scale-icon {
  width: 22px;
  height: 22px;
  background-size: contain;
}

.badge-small-text {
  font-size: .8em;
}
.badge-header {
  height: 28px;
}

.repo-scale-icon {
  background-image: url('./biceps.svg');
  background-image: url('./biceps.png');
}

.repo-scale-icon-tiny {
  opacity: 0.2;
  filter: grayscale(100%);
}
.repo-scale-icon-small {
  opacity: 0.4;
  filter: grayscale(30%);
}
.repo-scale-icon-medium {
  opacity: 0.6;
  filter: grayscale(10%);
}

.earned-stars-text,
.contrib-range-title
{
  position: relative;
  top: -5px;
  font-size: 1.4em;
}

.earned-stars-text-color {
  color: #119f11;
}

.big-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 120px;
}
