.icon-crown {
  background-image: url('./crown.svg');
}
.icon-contrib-bronze {
  background-image: url('./medal_bronze.svg');
}
.icon-contrib-silver {
  background-image: url('./medal_silver.svg');
}
.icon-contrib-gold {
  background-image: url('./medal_gold.svg');
}
.icon-repo-scale {
  background-image: url('./biceps.png');
}
.icon-crown,
.icon-contrib-bronze,
.icon-contrib-silver,
.icon-contrib-gold,
.icon-repo-scale {
  display: inline-block;
}

.contrib-type-icon, .icon-repo-scale {
  width: 13px;
  height: 13px;
  background-size: contain;
}
.big-badge .contrib-type-icon {
  margin-top: 4px;
  margin-bottom: -1px;
}
.big-badge .icon-repo-scale {
  margin-top: 3px;
}


  /*
.icon-repo-scale-micro {
  opacity: 0.2;
  filter: grayscale(100%);
}
.icon-repo-scale-small {
  opacity: 0.6;
  filter: grayscale(10%);
}
.icon-repo-scale-medium {
  opacity: 0.8;
  filter: grayscale(5%);
}
  */
.icon-repo-scale-micro {
  opacity: 0.4;
  filter: grayscale(100%);
}
.icon-repo-scale-small {
  opacity: 0.6;
  filter: grayscale(60%);
}
.icon-repo-scale-medium {
  opacity: 0.8;
  filter: grayscale(30%);
}

/*
.earned-stars-text,
.contrib-range-title
{
  position: relative;
  top: -5px;
}
*/
.earned-stars-text {
  font-size: 1em;
}
.contrib-range-title {
  font-size: 1em;
  /*
  color: #66f;
  */
}

.earned-stars-icon-color {
  /*
  color: #119f11;
  color: #0c0;
  */
  color: #4b4;
}
.earned-stars-text-color {
  color: #119f11;
}

.big-badge {
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding-left: 8px;
  padding-right: 7px;
}
.badge-desc {
  font-size: .8em;
  margin-left: 5px;
}
.big-badge {
  position: relative;
}
.badge-border {
  position: absolute;
  width: 100%;
  height: 85%;
  top: 0px;
  left: 0;
  box-sizing: content-box;

  border: 1px solid #e0e0e0;
  background-color: #fafafa;

  border: 1px solid #efefef;
  background-color: #fbfbfb;

  border-radius: 5px;
  z-index: -1;
}
