.user-profile-nav {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d1d5da;
}

.UnderlineNav-body {
  display: flex;
  margin-bottom: -1px;
}

.UnderlineNav-item {
  padding: 16px 8px;
  margin-right: 16px;
  font-size: 14px;
  line-height: 1.5;
  color: #586069;
  text-align: center;
  border-bottom: 2px solid transparent;
}

.UnderlineNav-item:hover,
.UnderlineNav-item:focus {
  color: #24292e;
  text-decoration: none;
  border-bottom-color: #d1d5da;
  transition: 0.2s ease;
}

.UnderlineNav-item.selected {
  font-weight: 600;
  color: #24292e;
  border-bottom-color: #e36209;
}

.contribs {
  font-size: 14px;
}

.contrib-name {
  display: inline-block;
  vertical-align: middle;
}

.avatar-repo {
  float: left;
  width: 50px;
  margin-right: .5em;
  margin-bottom: -.5em;
}

.avatar-add {
  border-width: medium !important;
  background-color: #eee;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  margin-top: -3px;
  margin-bottom: 1em;
}

.text-gray {
  color: #586069 !important;
}
