@font-face {
  font-family: 'ApexSans';
  src: url('./thirdparty/ApexSans-Bold.eot');
  src: url('./thirdparty/ApexSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('./thirdparty/ApexSans-Bold.woff') format('woff'),
       url('./thirdparty/ApexSans-Bold.ttf') format('truetype'),
       url('./thirdparty/ApexSans-Bold.svg#ApexSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ApexSans';
  src: url('./thirdparty/ApexSans-Book.eot');
  src: url('./thirdparty/ApexSans-Book.eot?#iefix') format('embedded-opentype'),
       url('./thirdparty/ApexSans-Book.woff') format('woff'),
       url('./thirdparty/ApexSans-Book.ttf') format('truetype'),
       url('./thirdparty/ApexSans-Book.svg#ApexSans-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  font-weight: 600;
  font-size: 16px;
}

a,
a:hover
{
  color: #0366d6;
}

.external::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f35d"; /* https://fontawesome.com/icons/external-link-alt */

  font-size: .7em;
  position: relative;
  top: -.15em;
  margin-left: .5em;

  display: inline-block;
  color: #bcc0c4;
}
/* avoid external link icon above to be shown in a new line */
.external {
  white-space: nowrap;
}

.container-lg {
  max-width: 1012px;
  width: 1012px;
  margin-right: auto;
  margin-left: auto;
}

.bg-dark {
  background-color: #24292e !important;
}

.text-bold {
  font-weight: 600;
}
