h1 {
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  font-weight: 600;
  font-size: 16px;
}

.container-lg {
  max-width: 1012px;
  width: 1012px;
  margin-right: auto;
  margin-left: auto;
}

.bg-dark {
  background-color: #24292e !important;
}
