.navbar-brand {
  padding-top: 0px;
}

.ghuser-on-github {
  position: fixed;
  line-height: 1.9em;
  right: 10vw;
}

@media screen and (max-width: 1200px){
  .ghuser-on-github{
    right: 6vw;
  }
}

@media screen and (max-width: 800px){
  .ghuser-on-github{
    right: 4vw;
  }
}