.vcard-fullname {
  font-size: 26px;
  font-weight: 600;
}

.vcard-username {
  font-size: 20px;
  font-weight: 300;
  color: #666;
}

.vcard-github-login,
.vcard-github-login:hover {
  text-decoration: none;
  color: #666;
}

.vcard-stars {
  float: right;
}
