.vcard-fullname {
  font-size: 26px;
  font-weight: 600;
}

.vcard-username {
  font-size: 20px;
  font-weight: 300;
  color: #666;
  min-height: 1.2em;
}

.vcard-username-login,
.vcard-username-login:hover {
  color: #666;
  text-decoration: none;
  white-space: nowrap;
  float: left;
}
