.vcard-fullname {
  font-size: 26px;
  font-weight: 600;
}

.vcard-username {
  font-size: 20px;
  font-weight: 300;
  color: #666;
  min-height: 1.2em;
}

.vcard-username-login,
.vcard-username-login:hover {
  color: #666;
  text-decoration: none;
  white-space: nowrap;
  float: left;
}

.vcard-stars {
  white-space: nowrap;
  position: relative;
  border-radius: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 7px;

  border: 1px solid #e0e0e0;
  background-color: #fafafa;
}
